/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}


div.cs-skin-underline {
	background: transparent;
	font-size: 1.1em;
	//max-width: 400px;
	max-width: 100%;
	color: #0095d5;
}
.cs-skin-underline>span{
	background-color: #0095d5;
    color: #fff;
}

div.cs-skin-underline.cs-active>span{
	background-color: #fff;
    color: #0095d5;
}


@media screen and (max-width: 30em) {
	div.cs-skin-underline { font-size: 1.2em; }
}

.cs-skin-underline > span {
	padding: 0.5em 3em 0.5em 0.5em;
	border-bottom: 3px solid #0095d5;
	border-color: inherit;
	font-weight: bold;
	background-color: #0095d5;
    color: #fff;
}

.cs-skin-underline > span::after {
	font-family: 'icomoon';
	//content: '\e003';
	right: 0.25em;
		-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);


	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.cs-skin-underline.cs-active > span::after {
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
}

.cs-skin-underline .cs-options {
	//background: #bbc7c8;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.cs-skin-underline.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	background: transparent;
}

.cs-skin-underline ul span {
	position: relative;
	text-transform: uppercase;
	font-size: 66%;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1.2em 0.8em;
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.cs-select ul span::after {
	content: '';
	opacity: 0;
}

.cs-select .cs-selected span::after {
	font-family: 'icomoon';
	//content: '\e010';
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
}

.cs-skin-underline ul span::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #fff;
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.holder_select{
	padding-top: 30px;
	padding-bottom: 40px;
}

.holder_grid{
	-webkit-transition: margin-top 0.3s 0.7s;
	transition: margin-top 0.3s 0.7s;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: margin 300ms;
	-webkit-transition: margin 300ms;


}

.cs-skin-underline ul li{
	//background-color: #0095d5;
	//background-color: transparent;
	color: #fff;
	& span{
		//padding: 0;
		padding-left: 10px;
		background-color: #0095d5;
		//border-bottom-left-radius: 10px;
    	//border-bottom-right-radius: 10px;
    }
}

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cs-skin-underline li:nth-child(5) span,
.cs-skin-underline li:nth-child(5) span::before,
.cs-skin-underline.cs-active li:first-child span,
.cs-skin-underline.cs-active li:first-child span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-skin-underline li:nth-child(4) span,
.cs-skin-underline li:nth-child(4) span::before,
.cs-skin-underline.cs-active li:nth-child(2) span,
.cs-skin-underline.cs-active li:nth-child(2) span::before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-underline li:nth-child(3) span,
.cs-skin-underline li:nth-child(3) span::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-underline li:nth-child(2) span,
.cs-skin-underline li:nth-child(2) span::before,
.cs-skin-underline.cs-active li:nth-child(4) span,
.cs-skin-underline.cs-active li:nth-child(4) span::before {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(5) span,
.cs-skin-underline.cs-active li:nth-child(5) span::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
} 
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(6) span,
.cs-skin-underline.cs-active li:nth-child(6) span::before {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(7) span,
.cs-skin-underline.cs-active li:nth-child(7) span::before {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(8) span,
.cs-skin-underline.cs-active li:nth-child(8) span::before {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(9) span,
.cs-skin-underline.cs-active li:nth-child(9) span::before {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(10) span,
.cs-skin-underline.cs-active li:nth-child(10) span::before {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(11) span,
.cs-skin-underline.cs-active li:nth-child(11) span::before {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(12) span,
.cs-skin-underline.cs-active li:nth-child(12) span::before {
	-webkit-transition-delay: 0.55s;
	transition-delay: 0.55s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(13) span,
.cs-skin-underline.cs-active li:nth-child(13) span::before {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(14) span,
.cs-skin-underline.cs-active li:nth-child(14) span::before {
	-webkit-transition-delay: 0.65s;
	transition-delay: 0.65s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(15) span,
.cs-skin-underline.cs-active li:nth-child(15) span::before {
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(16) span,
.cs-skin-underline.cs-active li:nth-child(16) span::before {
	-webkit-transition-delay: 0.75s;
	transition-delay: 0.75s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(17) span,
.cs-skin-underline.cs-active li:nth-child(17) span::before {
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(18) span,
.cs-skin-underline.cs-active li:nth-child(18) span::before {
	-webkit-transition-delay: 0.85s;
	transition-delay: 0.85s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(19) span,
.cs-skin-underline.cs-active li:nth-child(19) span::before {
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}
.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(20) span,
.cs-skin-underline.cs-active li:nth-child(20) span::before {
	-webkit-transition-delay: 0.95s;
	transition-delay: 0.95s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(21) span,
.cs-skin-underline.cs-active li:nth-child(21) span::before {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(22) span,
.cs-skin-underline.cs-active li:nth-child(22) span::before {
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
/* more items require more delay declarations */

.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
	color: #566473;
	background: transparent;
}

.cs-select ul{
	max-height: 500px;
	overflow-y: auto;
}
